// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p#message-navi{
  margin-left: 10%;
}

th#message-name{
  width: 20%;
}
th#message-detail{
  width: 80%;
}

.field_with_errors{
  width: 80%;
  display: inline-block;
  border: 1px solid #f00;
}